.cancel{
    width : 20px;
    height : 20px;
    padding: 0 0 0 0;
}

td{
    padding: 10px;
    text-align: center;
    position: relative;
}

.beauty{
    width: 200px;
}

.font{
    font-size: 18px;
}

img{
    position: absolute;
    top: 30%;
    left: 0%;
}