<div>
  <input type="text" [value] = "inputValue"
         (change)="inputValue = $event.target.value; toggleDisableButton()">
  <select name="status" id="" [value] = "elemStatus"
         (change)="elemStatus = $event.target.value; toggleDisableButton()">
    <option disabled>Статус</option>
    <option *ngFor="let item of status; index as i"
            [value]="item.condition">{{item.condition}}</option>
  </select>
  <button [disabled] = "buttonDisable" (click)="addElementToList()">Add</button>
</div>

