title Контакты
div
    p
        a Наш адрес :
        a  г.Днепр
    p
        a телефон :
        a  555-84-96
    P
        a ICQ :
        a  Вы серьезно до сих пор ей пользуетесь?
div Что-то еще
br
br
div
    a(href='/') Главная
div
    a(href='/contact') Контакты
div
    a(href='/faq') F.A.Q.