extends header

block content
    div(class="butt")
        p Здесь доджна быть кака-то информация о нас
        p но ее почемуто здесь нет
        p наверное кому-то было лень что-то придумывать
        p поэтому здесь этот бред
        p а кому-то это еще и читать