<%- include layouts/header.ejs %>
<form method="post" action="/customers/add/" class="col-md-4">
    <div class="form-group">
        <label for="name">Имя</label>
        <input class="form-control" id="exampleInputEmail1" placeholder="Имя" type="text" name="name" required>
    </div>
    <div class="form-group">
        <label for="name">Адрес</label>
        <textarea class="form-control" rows="3" name="address" required cols="30"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">e-mail</label>
        <input class="form-control" id="exampleInputEmail1" placeholder="e-mail" type="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Телефон</label>
        <input class="form-control" id="exampleInputEmail1" placeholder="телефон" type="text" name="phone"  required>
    </div>
    <button type="submit" class="btn btn-default" name="submit" value="Save" >Добавить</button>
    <button type="submit" class="btn btn-default" name="cancel" value="Cancel" onclick="window.location.href = '/customers';">Отменить</button>
</form>
<%- include layouts/footer.ejs %>